body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #FFF;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

/*------Header------*/
.logo {
    color: #4D5AE5;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.logo-paint {
    color: #2E2F42;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.nav-link {
    color: #2E2F42;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.nav-link:hover,
.nav-link:focus {
    color: #404BBF;
}

.addres {
    font-style: normal;
}

.addres-link {
    color: #434455;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.addres-link:hover,
.addres-link:focus {
    color: #404BBF;
}

/*---------SECTION EFFECTIVE-------*/

.effective {
    background-color: #2E2F42;
}

.effective-title {
    color: #FFFFFF;
    text-align: center;
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 0.02em;
}

.efective-link {
    background-color: #4D5AE5;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    cursor: pointer;
    color: #FFF;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
}


.efective-link:hover,
.efective-link:focus {
    background: #404BBF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    transition: 0.2s;
}

/*-------Section technical------*/

.section-technical {}

.technical-skils-title {
    font-size: 0;
    position: absolute;
    left: -9999px;
}

.technikal-title {
    color: #2E2F42;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
}

.technical-text {
    color: #434455;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

/*------section team------*/

.section-team {
    background-color: #F4F4FD;
}

.team-title {
    color: #2E2F42;
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-transform: capitalize;
}

.team-list {
    background-color: #FFFFFF;
    text-align: center;
}

.team-name {
    color: #2E2F42;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.tean-work {
    color: #434455;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

/*-----section portfolio------*/

.section-portfolio {}

.portfolio {
    color: #2E2F42;
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
}

.portfolio-list {
    text-align: center;
}

.portfolio-list-item {}

.portfolio-foto {}

.portfolio-title {
    color: #2E2F42;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.11;
    letter-spacing: 0.02em;
}

.portfolio-text {
    color: #434455;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.section-footer {
    background-color: #2E2F42;
}

.logo-footer {
    color: #F4F4FD;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.footer-text {
    color: #F4F4FD;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
}